<div class="table-container">
  <div class="filter-section" [formGroup]="filterForm">
    <h4>Filter by:</h4>
    <div class="filter-container">
      <div>
        <mat-checkbox *ngFor="let prop of FILTER_PROPERTIES" [formControlName]="prop">
          {{ camelCaseToPresentational(prop) }}
        </mat-checkbox>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Filter</mat-label>
          <input formControlName="filter" matInput placeholder="filter here..." />
        </mat-form-field>
      </div>

      <div class="reset">
        <button (click)="filterForm.reset()" mat-flat-button>Reset</button>
      </div>
    </div>
  </div>

  <div class="mat-table-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
      <!--Checkbox Column-->
      <ng-container matColumnDef="">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
      </ng-container>

      <!--TODO: complete columns -->

    </mat-table>
  </div>

</div>
